@{
    ViewData["Title"] = "Person";
}

<div>
<form asp-action="Create" method="post">
    <input type="number" name="PersonID" placeholder="Enter person Id"><br>
    <input type="text" name="FullName" placeholder="Enter full name"><br>
    <input type="text" name="Address" placeholder="Enter Address"><br>
    <input type="submit" value="Send">
</form>
</div>
<p>
Your are sended : @ViewBag.ThongBao
</p>
